In [125]:
#importing libaries
import pandas as pd
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
import json


import requests
# url to scrape data for assignment
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [24]:
page = requests.get(url)

from here i have to check out page content then proceed to make pandas
Dataframe

In [43]:
df = pd.read_html(page.content)

In [60]:
df[0].to_csv('zip.csv', index = False)# here I can make file for further use 
# if any reason, no loading the website again..

In [61]:
df = df[0]

In [63]:
df.dtypes

Postcode         object
Borough          object
Neighbourhood    object
dtype: object

In [124]:
df.head(10)

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights
5      M6A        North York    Lawrence Manor
6      M7A      Queen's Park      Not assigned
7      M9A         Etobicoke  Islington Avenue
8      M1B       Scarborough             Rouge
9      M1B       Scarborough           Malvern

In [70]:
df = df[df.Borough !='Not assigned']

In [126]:
df = df.reset_index()# resetting indexes for very useful index using computations

In [78]:
df =df.drop(columns = 'index')

In [88]:
df['Postcode'].head()

0    M3A
1    M4A
2    M5A
3    M5A
4    M6A
Name: Postcode, dtype: object

Below I need have total number of postal code that is unique, in order to 
proceed to merging the rows

In [127]:

uniq = df['Postcode'].unique()

Here I created my algorithm to merge the rows with same postal codes

In [120]:

Br = []
Ne = []
Post = []

last = ''
j  = 0
print(len(uniq))
for i in df['Postcode']:
    if last != i:
        last = i
        Br.append(df['Borough'][j])
        Ne.append(df['Neighbourhood'][j])
        Post.append(last)
    else:
        Ne[-1] = Ne[-1]+';'+df['Neighbourhood'][j]
        
    j+=1
print(len(Post), len(Br), len(Ne))
new = pd.DataFrame({'Postcode':Post, 'Borough':Br, "Neighbourhood":Ne})

103
103 103 103

Below code fo change not assigned rows of neighbourhood to borough values

In [123]:
for i in range(len(new['Neighbourhood'])):
    if new['Neighbourhood'][i] == 'Not assigned':
        new['Neighbourhood'][i] = new['Borough'][i]
new.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront;Regent Park
3      M6A        North York  Lawrence Heights;Lawrence Manor
4      M7A      Queen's Park                     Queen's Park

In [122]:
# now displaying the shape
new.shape

(103, 3)